@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .clip-aboutUs {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
  .clip-payMethod {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
  .clip-header {
    clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%);
  }
  .clip-reset {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
