.main {
    position: relative;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #392b58;
    max-height: 80vh;
    max-width: 50vw;
    width: 70vw;
    height: 100%;
    color: black;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    overflow: hidden;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
  }
  
  .main:focus {
    outline: none;
  }
  
  .main:hover {
    transition: 0.5s;
    box-shadow: 6px 6px 0 #fbc638;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    height: 750px;
    width: 50%;
    align-items: center;
  }
  
  /*checkbox to switch from sign up to login*/
  #chk {
    display: none;
  }
  
  /*Login*/
  .login {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .login label {
    margin: 25% 0 5%;
  }
  
  label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .loginGoogle {
    width: 100%;
  }
  .loginGoogle button {
    width: 100%;
  }
  
  /*Register*/
  .register {
    display: flex;
    justify-content: center;
    background: #6495ed;
    border-radius: 60% / 10%;
    transform: translateY(-8%);
    transition: 0.8s ease-in-out;
  }
  
  .register:hover {
    transform: translateY(-9%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .register label {
    color: #ffffff;
    transform: scale(0.8);
  }
  
  #chk:checked ~ .register {
    transform: translateY(-85%);
  }
  
  #chk:checked ~ .register label {
    transform: scale(1);
    margin: 0%;
  }
  
  #chk:checked ~ .login label {
    transform: scale(0.6);
    margin: 5% 0 5%;
  }
  /*Button*/
  .form button {
    width: 100%;
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background: #645e9d;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  
  .form button:hover {
    background-color: #645e9d;
  }
  
  .input {
    width: 450px;
    margin: 4px;
  }
  